preprocessed_data/lbfmodel.yaml
preprocessed_data/haarcascade_frontalface_alt2.xml
*.TPS
*.bmp
*.xml
*.yaml
*.jpg
*.npz
*.zip
*.pyc
*.txt
/AI_Morphometrics/*
/data/*
/face_env/*
.venv
.facevenv/*
/model/*
.ipynb_checkpoints/Face_Landmarking3-checkpoint.ipynb
.ipynb_checkpoints/Face_Landmarking3-checkpoint.ipynb
.ipynb_checkpoints/Face_Landmarking3-checkpoint.ipynb
.ipynb_checkpoints/Face_Landmarking-checkpoint.ipynb
*.json